body {
	font-family: Helvetica;
	margin:0px;
	padding-top: 0px;
	background-color: #E6F5ED;
}

#header{
	text-align: center;
	color: purple;
	height:20pt;
	padding-top: 30pt;
	font-size: 30px;
	padding-bottom: 30pt;
}



#group {
	text-align: center;
}
#name {
	text-align: center;
}
#back {
	text-align: center;
}
#name1{
	width :6%;
	height: 6%;
	display: inline-block;
  	margin-left: 0pt;
}
#back_button{
	width :6%;
	height: 6%;
	display: block;
  	margin-left: 20%;

}

#file {
	width :6%;
	height: 6%;
	display: inline-block;
  	margin-left: 0pt;
  /*	margin-right:;*/
  	padding-top: 10pt;
}
#test1 {
	width :6%;
	height: 6%;
	display: inline-block;
  	margin-left: 0pt;
  /*	margin-right:;*/
  	padding-top: 10pt;
}
