body {
	font-family: Helvetica;
	margin:0px;
	padding-top: 0px;
}



#homework {
	text-align: center;
	font-size: 30px;
	padding-top: 10vh;
}

#publish{
	padding-left: auto;
	padding-right: auto;
	text-align:center;
	padding-top: 60pt;
	width:100%;
}
img {
	width :150pt;
	height: 150pt;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding-top: 80pt;
}