body {
	font-family: Helvetica;
	margin:0px;
	padding-top: 0px;
	background-color: #E6F5ED;
}

#data{
	display:block;
	width :75%;
	height: 80%;
	padding-left: 10%;
}

#detail{
	float:right;
	height:20%;
}
#back{
	float:left;
	height:20%;
	overflow: hidden;

}

#detail_button{
	padding-top: 3%;
	padding-left:30%;
	width:30%;
}
#back_button{
	padding-left:50%;
	width:20%;
}
/*#group {
	text-align: center;
}
#name {
	text-align: center;
}
#name1{
	width :8%;
	height: 8%;
	display: inline-block;
  	margin-left: 0pt;

}

img {
	width :8%;
	height: 8%;
	display: inline-block;
  	margin-left: 0pt;
  /*	margin-right:;*/
  	